<h1>Pinterest Page</h1>
<p></p>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#"><div><%= link_to "Google Clone", pages_google_path%></div></a>
    <a href="#"><div><%= link_to "Tesla Clone", pages_tesla_path%></div></a>
    <a href="#"><div><%= link_to "Pinterest Clone", pages_pinterest_path%></div></a>
    <a href="#"><div><%= link_to "Social Clone", pages_social_path%></div></a>
  </div>
</div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <div id="header">
      <ul>
        <div id="logo"><%= image_tag "Pinterest-Icon1.png" %></div>
        
        <div id="search">
            <input id="search-box" type="text" placeholder="search" />
        </div>
        
        <div id="nav-buttons">
          <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-user-secret" aria-hidden="true"></i></a>
        </div>
      </ul>
    </div>
    
    <div id="wrapper">
      <div id="columns">
        <div class="pin">
            <%= image_tag "mountain-river.jpg" %>
             <p>this is a beautiful picture of my dream vacation</p>
          
        </div>
        
         <div class="pin">
            <%= image_tag "cedar-point-14e49oo.jpg" %>
             <p>Cedar Point Ohio is so much fun</p>
          
        </div>
        
         <div class="pin">
            <%= image_tag "us-marine-clip-art-http-gridre-com-principals-html-xrnYVf-clipart.png" %>
             <p>Marines were my way of life</p>
          
        </div>
        
         <div class="pin">
            <%= image_tag "marines-12-26-13_wide-654cbcd8e40905e61a5f30508ca496fbe46033f5-s900-c85.jpg" %>
             <p>More marines OOO RAAA</p>
          
        </div>
        
        <div id="columns">
        
        <div class="pin">
            <%= image_tag "0106171113.jpg" %>
             <p>New toy to add to the family</p>
          
        </div>
        
         <div class="pin">
            <%= image_tag "869f8cd1d31036d7d187b69c525efa02.jpg" %>
             <p>The road to freedom right here</p>
          
        </div>
        
         <div class="pin">
            <%= image_tag "FB_IMG_1493647605131.jpg" %>
             <p>My awesome recording studio</p>
          
        </div>
        
         <div class="pin">
            <%= image_tag "marines-12-26-13_wide-654cbcd8e40905e61a5f30508ca496fbe46033f5-s900-c85.jpg" %>
             <p>More marines OOO RAAA</p>
          
        </div>
        
        
      </div>
      
    </div>
